# dependencies
/node_modules

# next
/.next/
/out/

# env
.env
.env.local
.env.production

# database
prisma/dev.db
prisma/dev.db-journal
dev.db
dev.db-journal
*.db
*.db-wal
*.db-shm

# misc
.DS_Store
*.log

.vercel
